* {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

@font-face {
    font-family: 'alefBold';
    font-weight: 300; (bold)
font-style: normal;
    src: url('../fonts/Alef-bold.ttf');
}

@font-face {
    font-family: 'alefregular';
    font-weight: 300; (regular)
font-style: normal;
    src: url('../fonts/Alef-regular.ttf');
}

.ui-icon, .ui-widget-content .ui-icon {
    background-image: url("../../images/ui-icons_222222_256x240.png");
}

.requiredError {
    color: #f36f6f;
    float: left;
    width:100%;
    padding-top: 12px;
}


@font-face {
    font-family: 'almoni-dl-aaa-bold';
    src: url('../fonts/almoni-dl-aaa-bold.otf');
}

@font-face {
    font-family: 'almoni-dl-aaa-light';
    src: url('../fonts/almoni-dl-aaa-light.otf');
}

@font-face {
    font-family: 'almoni-dl-aaa-regular';
    src: url('../fonts/almoni-dl-aaa-regular.otf');
}

p {
    margin: 0px;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, img {
    display: block;
}

html {
    height: 100%;
}

body {
    height: 83%;
    width: 100%;
    margin: 0 auto;
    font-family: "Alef Hebrew", "Helvetica Neue", "Helvetica", "Arial",
    "sans-serif";
    background-color: transparent;
    background: #231f20;
}

ol, ul {
    list-style: none;
}

hr {
    background: #000;
    width: 100%;
    height: 1px;
    margin: 0px;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, textarea, select, option {
    outline: none;
    -webkit-border-radius: 0px;
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0px;
}

a {
    text-decoration: none;
}

button,button:focus,button:active:focus,button:active:hover,input[type=button],span{
    outline: 0;
    background:transparent;
}

.hidden {
    display: none;
}

textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #000;
    font-size: 15px;
    outline: 0;
}

textarea:-moz-placeholder, input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #000;
    font-size: 15px;
    outline: 0;
}

textarea::-moz-placeholder, input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #000;
    font-size: 15px;
    outline: 0;
}

textarea:-ms-input-placeholder, input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #000;
    font-size: 15px;
    outline: 0;
}

footer {
    width: 100%;
    float: right;
    background: #231f20;
    padding: 10px;

}

footer ul {
    width: 100%;
}

footer ul:nth-child(3) {
    display: none;
}

footer ul li {
    float: left;
    width: 20%;
    text-align: center;
}

footer ul li a {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    font-size: 18px;
}

footer div {
    float: right;
}

footer div a {
    margin-left: 10px;
}

.userLogo {
    width: 32px;
    position: absolute;
    top: 43px;
    right: 92px;
}

.flc {
    clear: both;
}

.flr {
    float: right;
}

.fll {
    float: left;
}

.hidden {
    display: none;
}

.wrapper {
    background-color: #231f20;
    position: relative;
    text-align: center;
    float: left;
    width: 100%;
    /* z-index: 2; */
    min-height: 100vh;
    margin-bottom: -10px;
}

.fa-pulse {
    position: fixed;
    left: 50%;
    top: 50%;
    color: #fff;
    z-index: 1;
}

.fa-spin {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 10%;
    color:#fff;
}

.fa-spin2 {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 50%;
}

/* skillbar resume and match pages*/
.skillbar {
    position: relative;
    display: inline-block;
    margin: 15px 0;
    width: 80%;
    background: transparent;
    height: 37px;
    border-radius: 1px;
    border: 1px solid #ccc;
    float: left;
}

.skillbar-title {
    position: absolute;
    top: -34px;
    left: -18px;
    text-align: left;
    font-size: 22px;
    color: #ccc;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
}

.skillbar-bar {
    float: left;
    height: 35px;
    width: 0px;
    background: #6adcfa;
    border-radius: 3px;
    display: inline-block;
}

.skill-bar-percent {
    position: absolute;
    left: 3px;
    top: 0;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    color: #000000;
}

/****************************************************** HTML **********************************************/
.myjobsWrapper, .readcvsWrapper, .unreadcvsWrapper, .favoritesWrapper,
.resumeWrapper, .jobWrapper, .jobParametersWrapper, .searchJobsWrapper, .yourJobsWrapper,
.googleSignInWrapper, .jobPageWrapper, .matchpageWrapper, .aboutWrapper,
.contactusWrapper, .googleSignInWrapper, .companyprofileWrapper, .candidatesWrapper,
.profileWrapper {
    width: 75%;
    margin: 0 auto;
}

.unreadcvsWrapper header h2, .readcvsWrapper header h2,
.favoritesWrapper header h2, .jobWrapper header h2, .myjobsWrapper header h2,
.resumeWrapper header h2, .jobParametersWrapper header h2,
.searchJobsWrapper header h2, .yourJobsWrapper header h2, .jobPageWrapper header h2,
.matchpageWrapper header h2, .googleSignInWrapper header h2,
.aboutWrapper header h2, .contactusWrapper header h2,
.companyprofileWrapper header h2, .profileWrapper header h2, .candidatesWrapper header h2 {
    text-align: left;
}

.myjobsWrapper > h3, .readcvsWrapper > h3, .unreadcvsWrapper > h3,
.favoritesWrapper > h3, .resumeWrapper > h3, .jobWrapper > h3,
.jobParametersWrapper > h3, .searchJobsWrapper > h3, .yourJobsWrapper > h3, .jobPageWrapper > h3,
.matchpageWrapper > h3, .googleSignInWrapper > h3, .aboutWrapper > h3,
.companyprofileWrapper > h3, .profileWrapper > h3, .contactusWrapper > h3, .candidatesWrapper > h3 {
    position: absolute;
    color: #fff;
    font-size: 14px;
    top: 0px;
    padding-left: 0;
}

footer {
    position: relative;
    z-index: 1000000;
    margin-top: 57px;
}

.nav > li > a:hover{
    background-color: transparent;
}

.redGrade{
    /* font-size: 20px; */
    /* font-weight: bold; */
}

.navBarImg li:not(.selected) a:hover{
    border-top: 1px solid #33B778;
    border-bottom: 1px solid #33B778;
    background-color: transparent;
}

.Garrow {
    width: 20px;
    float: left;
    margin-left: 0px;
    margin-right: 4px;
    margin-top: 2px;
}

.highlighted {
    background: #FFF8C6;
    color: #000;}

.mobile {
    display: none;
}

.web {
    display: block;
}

/* STAR RANKING */
.rating {
    overflow: hidden;
    display: inline-block;
}

.rating-input {
    position: absolute;
    left: 0;
    top: -50px;
}

.rating-star {
    display: block;
    float: right;
    margin-top: 0px;
    width: 16px;
    height: 16px;
    background: url('../images/star.png') 0 -16px;
}

.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}

.navbar-collapse > ul {
    background: #231f20;
    width: 100%;
    height: 100vh;
    padding: 4px;
    /*    padding-top: 70px;
    */    padding-left: 0px;
    border-radius: 0;
    float: right;
}

.navbar-collapse ul li {
    font-family: almoni-dl-aaa-regular;
    display: table;
    font-size: 30px;
    width: 100%;
    font-weight: bold;
    color: #fff;
    padding-top: 10px;
    border-bottom: 1px solid #fff;
    padding-left: 20px;
}

.mobileMenu a {
    margin-left: 0px;
}

.mobileMenu i {
    margin-right: 20px;
}
/*  HAMBURGER END HERE  */

/****************************************************** INDEX - NAV BAR **********************************************/
#profilePicture {
    position: absolute;
    top: 20px;
    right: 28px;
    z-index: 100;
    border-radius: 100px;
    border: 2px solid #fff;
    cursor: pointer;
}

.profilePictureHam {
    margin: 0 auto 10px;
    z-index: 100;
    border-radius: 100px;
    border: 2px solid #fff;
    cursor: pointer;
}

.GarrowCV {
    width: 20px;
    float: left;
    margin-right: -20px;
    margin-top: 4px;
}

.sendButtonP .Garrow {
    margin-top: 4px;
}

.userIcon {
    position: absolute;
    width: 44px;
    left: 4%;
    top: 8px;
}

/*NAV*/
.navbar {
    height: 0px;
    min-height: inherit;
}

.navBar > div:nth-child(1) {
    position: absolute;
    z-index: 11;
    left: 26px;
    top: 36px;
}

.navBar > div:nth-child(1) img {
    width: 74px;
    position: absolute;
    top: -18px;
    left: -12px;
}

.navBar > div:nth-child(2) {
    position: absolute;
    right: 60px;
    top: 12px;
    z-index: 11;
}

.navBar > div:nth-child(2) > a > img {
    border-radius: 1000px;
    border: 2px solid #fff;
    position: absolute;
    top: 19px;
    right: -34px;
}

.navBarImg {
    height: 0;
    width: 100%;
    position: relative;
    margin: 0 auto;
    z-index: 2;
    z-index: 1;
}

.navBarImg .fa {
    padding-right: 3px;
}

.navBarImg img {
    max-height: 261px;
}

.navBarImg li a {
    font-family: almoni-dl-aaa-regular;
    font-size: 154%;
    float: right;
}

.navBarImg ul {
    width: 100%;
    padding: 17px 12% 0px;
    font-size: 78%;
    min-height: 100px;
    float: left;
    z-index: 2;
    opacity: 1;
    margin-bottom: 0;
    background: transparent !important;
    background-color: transparent;
    padding-bottom: 33px;
    /* opacity: 0.8; */
}

.navBarImg ul li {
    float: left;
    margin-top: 24px;
    margin-right: 50px;
}

.container-fluid {
    padding-right: 0px;
}

/****************************************************** MY JOBS - HTML **********************************************/
/*liked*/
img.ng-scope {
    margin-right: 0px;
}

#popoverData {
    position: absolute;
    right: 30px;
    top: 20px;
    background-color: transparent;
    color: white;
}

#previewCV > div {
    width: 80%;
}

.myjobsWrapper button:hover, .searchJobsWrapper button:hover, .yourJobsWrapper button:hover {
    background-color: transparent;
    color: #fff;
}

.title {
    font-size: 22px;
}

.selected{
    border-top: 1px solid #33B778;
    border-bottom: 1px solid #33B778;
    background-color: transparent;
}

.line {
    position: absolute;
}

.newJob {
    position: absolute;
    right: 30px;
    top: 20px;
    background-color: transparent;
    color: white;
}

.newJob button, html input[type=button] {
    background-color: transparent;
    color: white;
    font-family: almoni-dl-aaa-regular;
    font-size: 20px;
}

.myJobsBox {
    height: 150px;
    width: 100%;
    position: relative;
    margin-top: 18px;
}

.myJobsImgCover {
    background: url("../images/jobseekerCover.png") right bottom no-repeat;
    height: 120%;
    width: 651px;
    position: fixed;
    top: 0px;
    right: 0;
}

.engineering {
    margin: 0 auto;
    position: relative;
    width: 100%;
    margin-top: 10px;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    margin-top: 28px;
    font-family: almoni-dl-aaa-regular;
}

.engineering:first-child {
    color: red;
}

a {
    color: #fff;
    text-decoration: none;
}

a:focus, a:hover {
    text-decoration: none;
    color: #BDBDBD;
}

.engineering li {
    float: left;
    padding: 2px;
    font-size: 11px;
    cursor: pointer;
    margin-right: 5%;
    color: white;
    font-size: 16px;
}

.yourJobsWrapper button:hover,.yourJobsWrapper button:active:hover,.yourJobsWrapper button:focus {
    outline:none;
    opacity: 0.6;
    background-color: transparent;
    color:#fff;
}

.navBarImg > img {
    height: 36px;
    width: 36px;
    position: absolute;
    top: 24%;
    left: 24%;
}

#logo {
    height: 67px;
    width: 83px;
}

.jobs {
    margin-top: 0px;
    width: 100%;
    padding: 0px;
    border: 0px solid #231f20;
    text-align: left;
    float: left;
    text-align: left;
    font-family: almoni-dl-aaa-regular;
    color: white;
}

.jobs > div:nth-child(1) {
    height: 40px;
    padding: 10px 13px;
}

.jobs > div:nth-child(1) a {
    float: right;
    margin-left: 2%;
    margin-right: 10px;
    font-size: 11px;
}

.jobs > div:nth-child(1) h3 {
    font-size: 22px;
    font-weight: bold;
    width: 68%;
    height:50px;
    padding-left: 0px;
    border-bottom-width: 1px;
}

.jobs > div:nth-child(2) {
    padding: 28px 20px;
    font-size: 16px;
    float: left;
    position: relative;
    width: 100%;
    cursor: pointer;
}

.jobs > div:nth-child(2) a {
    text-decoration: none;
}

.jobs > div:nth-child(2) section {
    position: absolute;
    width: 96px;
    right: 12px;
    top: 24px;
}

.jobs > div:nth-child(2) section h5 {
    position: absolute;
    bottom: 28px;
    left: 33%;
    font-size: 34px;
    font-family: almoni-dl-aaa-regular;
}

.jobs > div:nth-child(2) article {
    float: left;
    width: 100%;
    text-align: left;
}

.jobs h5 {
    padding-top: 6px;
    font-size: 16px;
}

.tabsWrapper > h3 {
    margin-top: 10px;
}

.jobs h5:nth-child(3) {
    display: inline-block;
}

.jobs p {
}

.jobs img {
    width: 26px;
    float: right;
    margin-right: 10px;
}

.jobs img:hover {
    opacity: 0.6;
}

.jobsTools {
    float: right;
    background: #1b75bb;
    width: 8%;
    min-height: 300px;
    height: auto;
}

.jobsTools a i {
    color: #fff;
    width: 100%;
    margin: 20px 0px 40px;
    text-align: center;
}

.jobsTools a i:hover {
    color: #000;
}

.tab-content {
    padding-left: 0;
    padding-right: 12%;
}

.tabsContent > article > section {
    margin-bottom: 10px;
    position: relative;
}

.nav-tabs li {
    cursor: pointer;
    border: 1px solid #ccc;
    width: 33.3%;
    height: 66px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tabsContent div h3 {
    padding-bottom: 20px;
    overflow: hidden;
    font-size: 18px;
}

.tabsContent div h5 {
    font-weight: 500;
}

.tabsContent .starRating {
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}

/****************************************************** Candidtaes - HTML **********************************************/
/****************************************************** RESUME - HTML **********************************************/
#previewCV > div {
    width: 80%;
}

.timeline-heading {border-top: 1px solid #fff;border-left: 1px solid #fff;border-right: 1px solid #fff;}

.timeline-body {
    margin-bottom: -28px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.timeline-body p {
    font-size: 26px;
    padding: 4px 10px 8px 10px;
    text-align: left;
}

#users {
    position: relative;
    top: 95px;
}

.borderSides {
    background-color: #000;
}

.resumeDetailsBox {
    background: #ebebeb;
    margin-top: 20px;
}

.resumeDetailsBox div {
    width: 30%;
    display: inline-block;
    margin-bottom: 20px;
}

.resumeDetailsBox h3 {
    margin-bottom: 20px;
}

.resumeDetailsBox h4 {
    margin-left: 10px;
}

.resumeSkillsBox {
    margin: 0 auto;
    margin-top: 20px;
}

.resumeSkillsBox h2 {
    color: #fff;
    background: #231f20;
}

.resumeSkillsBox span {
    font-weight: bold;
    font-size: 25px;
}

.resumeSkillsBox h3 {
    margin-bottom: 10px;
    color: #fff;
}

.resumeSkillsBox img {
    width: 100%;
}

.resumeYears {
    margin-top: 58px;
}

.resumeYears > div h3:nth-child(1) {
    color:#fff;
    font-weight: normal;
}

.resumeYears > div h3:nth-child(2) {
    float: right;
    background: #231f20;
    color: #fff;
    padding: 14px;
}

#circle-container, #circle-container1 {
    z-index: 1;
    position: relative;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 38px;
}

#circle-container > h2, #circle-container1 > h2 {
    text-shadow: 1px 3px 3px #88b9f1;
    position: absolute;
    top: 25%;
    left: 26%;
    z-index: 10;
    font-size: 30px;
    text-align: center;
    width: 50%;
    height: 50%;
    line-height: 7vw;
    background: #ccc;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 100%;
    box-shadow: 4px 14px 64px #50a2e1;
}

#circle-container2 {
    width: 84%;
    z-index: 2;
    position: absolute;
    top: 6%;
    left: 5%;
}

#circle-container3 {
    width: 90%;
    z-index: 3;
    position: absolute;
    top: 5%;
    left: 5%;
}

#circle-container4 {
    width: 90%;
    z-index: 4;
    position: absolute;
    top: 5%;
    left: 5%;
}

.text-muted {
    color: #57b7ee;
    font-weight: bold;
    font-size: 24px;
}

.swipeIcon {
    display: none;
}

#candidateLike {
    padding: 0px 2px;
    cursor:pointer;
}

#candidateUnLike {
    padding: 0px 2px;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    cursor:pointer;
}

#candidateUnLike + h3, #candidateLike + h4 {
    display: inline-block;
}

.noMoreCandidates {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    color: #fff;
    left: 0;
    font-size: 30px;
    top: 10%;
}

.timeline-heading h4 {
    padding-top: 22px;
    font-weight: bold;
    font-size: 30px;
}

/****************************************************** JOB - HTML **********************************************/
.contentWrapper .thumbnails .thumbnail {
    min-height: 100px;
    width: 100%;
}

.contentWrapper .thumbnails .input-group-btn:first-child > .btn, .contentWrapper .thumbnails .input-group-btn:first-child > .btn-group {
    margin-left: 0;
    width: 0px;
}

.contentWrapper .thumbnails .fa {
    margin-left: -6px;
}

.contentWrapper .thumbnails .form-control {
    padding-left: 6%;
    font-size: 92%;
}

.thumbnail {
    width: 210px;
}

.thumbnail .caption {
    padding: 0px;
    width: 100%;
}

.contentWrapper article {
    float: left;
    width: 31%;
    margin-right: 1%;
}

.input-group {
    margin-top: 10px;
}

.langsName {
    width: 90%;
    font-size: 26px;
    margin-bottom: 10px;
    text-align: center;
    background: none;
    border: 0;
    display: block;
}

.contentWrapper.requirementsWrapper {
    min-height: 300px;
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 100%;
    height: 50px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

.jobP {

    margin-top: 0;
    color: #fff;
}

.jobPExp {
    color: #fff;
    padding-top: 10px;
}

.ui-slider-horizontal .ui-slider-range-min {
    left: -1px;
    top: -17px;
}

.jobCover {
    background: url("../images/jobseekerCover.png") right bottom no-repeat;
    height: 120%;
    width: 651px;
    position: fixed;
    top: 0px;
    right: 0;
}

.jobEdit {
    margin-bottom: 47px;
    border: 2px solid #ebebeb;
    float: left;
    overflow: hidden;
    padding: 15px 0px 15px 0px;
    text-align: left;
    border-radius: 10px;
}

.editLogo {
    float: left;
    width: 100%;
}

.editLogo + input {
    width: 80%;
    float: left;
}

.editLogo + input + input {
    width: 20%;
}

.companyLogo img {
    margin-bottom: 22px;
    width: 120px;
    border-radius: 10px;
}

.logos {
    float: left;
    margin-right: 1%;
}

.logos img {
    width: 100px;
    height: 100px;
}

.companies {
    float: left;
    margin-right: 1%;
}

.companies img {
    width: 80px;
    height: 80px;
}

.pagination {
    display: block;
    margin: 0px;
}

.pagination + section {
    float: right;
    width: 20%;
    position: relative;
}

.pagination + section h5 {
    position: absolute;
    top: 39%;
    font-size: 30px;
    left: 32%;
}

.Item > label {
    float: left;
    margin-left: 2%;
}

.Item h2 {
    text-align: center;
    font-size: 3.5vw;
}

.Item > h3 {
    float: right;
}

.Item > select + input {
    float: right;
    width: 20%;
}

#addmust {
    margin: 10px 10px;
}

#addmust + h3 {
    margin: 10px 0px;
}

.mustOrAdv {
    width: 250px;
    background: #ccc;
    height: 30px;
    float: right;
    position: relative;
    border-radius: 10px;
    border: 1px solid #000;
}

.mustOrAdv > div {
    float: left;
    width: 50%;
}

.mustOrAdv > div h3 {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

.mustOrAdv section {
    background: #000;
    width: 125px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 0;
    border-radius: 10px;
}

.toggleMust {
    left: 0px;
}

.toggleAdv {
    right: 0px;
}

.langs {
    width: 36%;
}

.removeCombination {
    float: right;
    display: block;
    color: #fff;
    font-size: x-large;
    padding-top: 8px;
}

/****************************************************** JOB PARAMETERS - HTML **********************************************/
.jobParametersWrapper > p {
    color: #606060;
    font-weight: bold;
}

.btn span.glyphicon {
    opacity: 0;
}

.btn.active span.glyphicon {
    opacity: 1;
    color: #000;
}

.btn-group {
    width: 25%;
    padding-top: 16px;
}

.mustItem1, .advantageItem1, .orItem1, .mustItem2, .advantageItem2, .orItem2 {
    background-color: #ccc;
    pointer-events: none;
}

#sliders {
    position: relative;
}

#sliders > div {
    padding: 0px 20px;
    border-radius: 10px;
}

#sliders li {
    margin: 1%;
}

#sliders li div {
    width: 100%;
    float: left;
    height: 6px;
    margin-bottom: 10px;
    margin-top: 16px;
}

#sliders p {font-size: 16px;margin-top: 12px;}

#sliders span {
    font-size: 24px;
    font-weight: bold;
    height: 22px;
    width: 8px;
    margin-top: -6px;
}

.ui-widget-header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,4dcfdd+100 */
    background: rgb(30, 87, 153); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(30, 87, 153, 1) 0%,
    rgba(77, 207, 221, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30, 87, 153, 1) 0%,
    rgba(77, 207, 221, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: #258759;
}

/****************************************************** SEARCH JOB - JOB SEEKER - HTML **********************************************/
.arrow-down, .arrow-up {
    margin: 0 auto;
    position: absolute;
    right: 6px;
    bottom: 0px;
    width: 62px;
}

.arrow-up {
    margin: 0 auto;
}

.searchJobsImgCover {
    background: url("../images/employerCover.png") right bottom no-repeat;
    height: 100%;
    width: 644px;
    position: fixed;
    top: 0px;
    right: 0;
}

.searchJobsImgCover1 {
    background: url("../images/employerCover.png") right bottom no-repeat;
    height: 100%;
    width: 644px;
    position: fixed;
    top: 0px;
    right: 0;
}

.jobListLi section:hover {
    /* color: #254117; */
}

.diploma{
    width: 50px;
    /*float: left;*/
}

.compatibilityText{
    position: absolute;
    top: 36px;
    right: 40px;
    z-index: 11;
}

.visibleText {
    float: left;
    margin-top: 0px;
    padding-top: 10px;
}

input.form-control.ng-pristine.ng-untouched.ng-valid {}

.searchJobsWrapper form button, .yourJobsWrapper form button {
    float: right;
    width: 15%;
    padding-right: 0px;
    padding-left: 0px;
}

.jobsList ul li {
    width: 100%;
    padding: 10px 10px;
    width: 100%;
    padding: 6px;
    border: 0px solid #231f20;
    text-align: left;
    float: left;
    text-align: left;
    padding-bottom: 36px;
    font-family: almoni-dl-aaa-regular;
    border-bottom: 1px solid #fff;
    margin-top: 18px;
    color: white;
    position: relative;
}

.jobsList ul li a {
    padding: 0px;
}

.jobsList ul li a:hover {
    opacity: 1;
}

.jobsList article {
    float: left;
    margin-left: 90px;
    width: 91%;
    font-size: 18px;
}

.jobsList article p {
    text-align: left;
    margin-bottom: 4px;
    clear: both;
    width: 100%;
}

.jobsList .visibleText p{
    width: 76%;
}

.jobListLi {
    float: left;
}

.jobListLi > a > div {
    width: 100%;
    position: relative;
    min-height: 100px;
}

.jobListLi section {
    position: absolute;
    width: 86px;
    top: 60px;
    right: 28px;
    z-index: 11;
}

.jobListLi section h5 {
    position: absolute;
    top: 31%;
    left: 31%;
    font-size: 28px;
    font-weight: bold;
    font-family: almoni-dl-aaa-regular;
}

.logoInJobBox {
    width: 72px;
    position: absolute;
    top: 22px;
}

.jobListLi a {
    width: 100%;
}

.jobListLi a i {
    float: right;
    margin-top: 15px;
}

/****************************************************** MY JOBS - JOBSEEKER - HTML **********************************************/

.fa-heart {
    color: #d43f3a;
}

.hired {
    position: absolute;
    top: 46px;
    to; */
text-align: center;
    left: 42%;
}

.companyLogoN {
    float: left;
    width: 86px;
    position: absolute;
    left: 84px;
    top: 22px;
}

.readUnread {
    position: absolute;
    right: 100px;
    top: -8px;
}

.jobListLi .rating {
    position: absolute;
    top: 130px;
    left: 18px;
}

.fav {
    position: absolute;
    right: 67px;
    z-index: 2;
    cursor: pointer;
    top: 4px;
    font-size: x-large;
}

.unlikeReason {
    float: left;
    font-size: 18px;
    padding: 10px;
    margin-left: 114px;
    margin-top: 14px;
    border: 1px solid #17BFC2;
}

.unlike {
    float: right;
    margin-top: -10px;
    margin-left: 16px;
}

.like {
    float: right;
    margin-top: -14px;
    margin-left: 16px; /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

/****************************************************** JOB - JOBSEEKER - HTML **********************************************/
.jobPageWrapper header h2 {
    width: 100%;
    text-align: left;
}

.jobPageWrapper p {
    text-align: left;
}

.jobPageWrapper h2 {
    text-align: left;
    margin-bottom: 10px;
}

.jobPageWrapper h4 {
    text-align: left;
    margin-bottom: 10px;
}

.skills {
    margin-top: 10px;
    text-align: left;
    width: 100%;
}

.skills li {
    text-align: left;
}

.skills + section h2 {
    float: left;
    margin-right: 5%;
}

.skills + section {
    margin-bottom: 5%;
}

.jobPageWrapper > a:hover {
    opacity: 1;
}

#job-circle-container {
    width: 15%;
    position: relative;
}

#job-circle-container h5 {
    position: absolute;
    top: 52%;
    left: 24%;
    font-size: 2.5vw;
}

.fa-times {
    cursor: pointer;
}

/****************************************************** MATCH  - JOBSEEKER - HTML **********************************************/
.jobDetailsLS{
    margin:10px 0px;
}

.jobDetailsLS > h3{
    text-align: left;
    color: #fff;
}

.greate {
    text-align: left;
}

.slidersAndTooltips {
    background-color: #000;
    width: 100%;
    height: 225px;
}

.skillsTitleM {
    width: 60px;
    height: 40px;
    text-align: left;
    padding-top: 10px;
}

.AlltootipInfo {
    margin-top: 80px;
    background-color: #000;
}

.matchTitle {
    color: #fff;
    text-align: left;
    padding-top: 20px;
}

.formulaSliders {
    float: left;
    width: 90%;
    margin-top: 20px;
    padding-left: 22px;
}

.tootipInfo {
    float: right;
    width: 10%;
    margin-top: 20px;
}

.matchResult img {
    margin: 0 auto;
}

.matchResult > #circle-container {
    width: 80%;
    margin: 20px auto;
}

.prograssBars {
    margin-top: 30px;
}

#user-container {
    width: 15%;
    position: relative;
    margin: 40px;
}

#user-container h5 {
    position: absolute;
    top: 40%;
    left: 33%;
    font-size: 2.5vw;
}

.matchResult #circle-container {
    z-index: 1;
    position: relative;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.matchResult #circle-container > svg {
    margin-bottom: 20px;
    margin-top: 20px;
}

.matchResult #circle-container h2 {
    font-size: 4.5vw;
}

#formulasAppend {
    margin: 10px 0px;
}

.langsMatch > span {
    font-weight: bold;
}

.progress-bar-striped {
    color: #000;
}

/****************************************************** ABOUT - HTML ********************************************************/
/****************************************************** CONTACT - HTML ********************************************************/
/****************************************************** PROFILE - HTML ********************************************************/
.parseButton{
    float: none;
}


.parser {
    margin-bottom: 2%;
}

.userProfile .cvPreview:hover,.userProfile .cvPreview:active,.userProfile .cvPreview:focus{background-color: transparent;color:#fff;opacity:0.8;}

.timelineTitle{
    color: #fff;
    display: none;
}

.sendButtonP {
    font-size: 19px;
}

.parseButton {
    float: none;
    border-radius: 0;
    margin: 2px;
    background-color: transparent;
    color: #fff;
    border: 0;
}

.parseB .Garrow {
    width: 20px;
    float: left;
    margin-right: 2px;
    margin-top: 11px;
}

.sendB {
    color: #fff;
    font-size: 18px;
}

.page-header {
    border-bottom: 0px solid #eee;
}

.borderUserDetailsBoxModal {
    padding: 8px;
    width: 90%;
    border: 8px solid #000;
    margin: 0 auto;
}

.cvPreview {
    margin-top: 12px;
    font-size: 20px;
    text-align: center;
    padding: 0;
}

.userProfile div button:hover,.userProfile div button:active:hover,.userProfile div button:focus,.userProfile div button:active {
    outline:none;
    opacity: 0.6;
    background-color: transparent;
    color:#fff;
}

.userProfile .parseExperience label {
    margin: 0 auto;
    /*width: 38%;*/
    color: #fff;
    /*margin-right: 9%;*/
}

div#popover924921 {
    top: 106px;
    left: 861px;
    display: block;
}

[data-toggle=buttons] > .btn input[type=checkbox], [data-toggle=buttons] > .btn input[type=radio], [data-toggle=buttons] > .btn-group > .btn input[type=checkbox], [data-toggle=buttons] > .btn-group > .btn input[type=radio] {
    position: absolute;
    clip: auto;
    pointer-events: none;
}

.borderTimelineTitle1 {
    float: left;
    margin-top: 0px;
}

.borderTimelineTitle2 {
    float: right;
}

.profileCover {
    /* background-image: url("../images/myjobscover22.png"); */
    /* height: 100%; */
    /* width: 100%; */
    /* position: fixed; */
    /* top: 0; */
    /* background-size: cover; */
    background: url("../images/jobseekerCover.png");
    /* background-image: url("../../images/myjobscover22.png"); */
    height: 120%;
    width: 651px;
    position: fixed;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
}

.buttonBorder {
    width: 88px;
    margin-top: 22px;
}

.userProfile h4 {
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.userProfile h4 {
    margin: 10px 0px;
}

.userProfile .checkbox-inline, .radio-inline {
    width: 100%;
}

.userProfile {
    margin-top: 0px;
    text-align: left;
    width: 100%;
}

.userProfile label {
    margin: 0 auto;
    margin-top: 5px;
    color:#fff;
}

.userProfile .btn.btn-warning {
    float: right;
    border-radius: 0;
    margin: 2px;
    outline: 0;
}

.userProfile div button {
    display: block;
    border-radius: 0;
    border: 0;
    padding-left: 0;
    outline: 0;
    background-color: transparent;
    color: #fff;
    float:left;
    clear: both;
}

.page-header h1 {
    text-align: center;
    width: 34%;
    margin: 0 auto;
    color:#fff;
}

.parserExperienceYears {
    float: right;
}

.parserExperienceLanguage {
    float: left;
    padding-right: 2%;
    font-size: 20px;
}

.removeContentCV {
    float: right;
    position: absolute;
    cursor: pointer;
    top: 8px;
    right: 8px;
    color: #fff;
    font-size: large;
}

.birthDay {
    text-align: left;
}

.timeline-pluss, .timeline-pluss-exp {
    float: right;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    width: 36px !important;
    height: 36px;
    background-color: #808080;
    z-index: 100;
    cursor: pointer;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline-pluss i, .timeline-pluss-exp i {
    margin-top: 12px;
    color: #000;
    font-size: 18px;
}

.timeline-pluss-exp {
    float: left
}

/****************************************************** MY CV - HTML ********************************************************/
.experience > section > label:first-child {
    float: left;
    width: 100%;
}

#experience {
    float: left;
}

#years {
    width: 22%;
    margin-left: 2%;
    float: right;
    margin-top: 10px;
}

.btn-warning {
    margin-top: 10px;
    float: left;
}

/*------------------company profile HTML------------------------------------*/
.signExistingCompany{float:left;     width: 100%;}

.GarrowInput {
    position: relative;
    left: 0%;
    top: 5px;
    width: 20px;
    float: left;
    margin-right: 4px;
    margin-bottom: 10px;
}

/****************************************************** TIMELINE ***************************************************/
.timelineForPreview {
    position: relative;
}

.timelineForPreview:before {
    top: 0;
    bottom: 0;
    z-index: 1;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #000;
    left: 50%;
    margin-left: -1.5px;
    position: absolute;
}

.timelineForPreview > li {
    margin-bottom: 20px;
    margin-top: 3px;
    position: relative;
}

.timelineForPreview > li:before, .timelineForPreview > li:after {
    content: " ";
    display: table;
}

.timelineForPreview > li:after {
    clear: both;
}

.timelineForPreview > li:before, .timelineForPreview > li:after {
    content: " ";
    display: table;
}

.timelineForPreview > li:after {
    clear: both;
}

.timelineForPreview > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 5px solid #231f20;
    padding: 4px;
    padding-bottom: 8px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background-color: #231f20;
    margin-top: 20px;
}

.timelineForPreview > li > .timeline-panel:after {
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    z-index: 233;
    border-left: 0px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timelineForPreview > li > .timeline-badge {
    color: #fff;
    width: 28px;
    height: 28px;
    line-height: 31px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 51.7%;
    margin-left: -25px;
    background-color: #000;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timelineForPreview > li.timeline-inverted > .timeline-panel {
    float: right;
    background: transparent;
}

.timelineForPreview > li.timeline-inverted > .timeline-panel:before {
}

.timelineForPreview > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
}

.container {
    width: 100%;
}

.timeline {
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    z-index: 1;
    position: absolute;
    content: " ";
    width: 1px;
    background-color: #fff;
    left: 50%;
    margin-left: -1.5px;
    position: absolute;
}

.timeline > li {
    margin-bottom: 20px;
    margin-top: 3px;
    position: relative;
}

.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 49%;
    padding: 4px;
    padding-bottom: 0px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background-color: transparent;
    margin-top: 34px;
}

.timeline > li > .timeline-panel:after {
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    z-index: 233;
    border-left: 0px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 28px;
    height: 28px;
    line-height: 29px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: -1px;
    left: 50.7%;
    margin-left: -22px;
    background-color: #808080;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    background: transparent;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p, .timeline-body > ul {
    margin-bottom: 0;
    text-align: left;
    width: 100%;
    font-size: 16px;
    color: #fff;
    overflow: hidden;
}

.timeline-body > p + p {
    margin-top: 5px;
}

.timelineForPreview {
    position: relative;
}

.timelineForPreview:before {
    top: 0;
    bottom: 0;
    z-index: 1;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #000;
    left: 50%;
    margin-left: -1.5px;
    position: absolute;
}

.timelineForPreview > li {
    margin-bottom: 20px;
    margin-top: 3px;
    position: relative;
}

.timelineForPreview > li:before, .timelineForPreview > li:after {
    content: " ";
    display: table;
}

.timelineForPreview > li:after {
    clear: both;
}

.timelineForPreview > li:before, .timelineForPreview > li:after {
    content: " ";
    display: table;
}

.timelineForPreview > li:after {
    clear: both;
}

.timelineForPreview > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 5px solid #231f20;
    padding: 4px;
    padding-bottom: 8px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background-color: #231f20;
    margin-top: 20px;
}

.timelineForPreview > li > .timeline-panel:after {
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    z-index: 233;
    border-left: 0px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timelineForPreview > li > .timeline-badge {
    color: #fff;
    width: 28px;
    height: 28px;
    line-height: 31px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 51.7%;
    margin-left: -25px;
    background-color: #000;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timelineForPreview > li.timeline-inverted > .timeline-panel {
    float: right;
    background: transparent;
}

.timelineForPreview > li.timeline-inverted > .timeline-panel:before {
}

.timelineForPreview > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
}

.existingCompany{background: transparent;padding-left: 0;color:#fff;border:0;outline:0;float: left;clear: both;}
.existingCompany:hover{opacity:0.8;background: transparent; color:#fff; border:0; outline:0;}
.cvPreview{background: transparent;color:#fff;border:0;outline:0;float:left;}
#predictAppend h2 {    font-size: 20px;
    color: #fff;
    float: left;
    margin-bottom: 30px;
    border: 1px solid #57b7ee;
    padding: 12px;}


.googleSignInWrapper{
    width: 75%;
    margin: 0 auto;
    margin-top: 34px;
    position: relative;
    margin-bottom: 16%;
}

.sendCV:focus,.sendCV:hover,.sendCV:active:focus,.sendCV:active{
    outline: 0;
    border: 0;
    background-color: transparent;
    color: #fff;
}

.fixCV:focus,.fixCV:hover,.fixCV:active:focus,.fixCV:active{
    outline: 0;
    border: 0;
    background-color: transparent;
    color: #fff;
}