<!DOCTYPE html>
<html ng-app="cvmatcherApp">
<head>
    <title>CVMatcher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#00A651">
    <!--  Google+ SignIn -->
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id"
          content="468789046131-afapdvumbaedb574nkrtpicc29240k53.apps.googleusercontent.com">

    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" media="all" href="css/style.css"/>

    <link rel="icon" type="image/cvmatcher.icon" href="./images/logo.png"/>

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/progressbar.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/hammer.min.js"></script>
    <script src="js/reconnecting-websocket.min.js"></script>
    <script src="js/messageResource.min.js"></script>
    <script src="js/skill.bars.jquery.js"></script>

    <!--[if !IE]><!-->
    <script src="js/pushwoosh-web-pushes-http-sdk.js?pw_application_code=C6CEE-FFEC9"></script>
    <!--<![endif]-->

    <!-- added the maps.googleapis because it give me no warnings, so the local is locations with warning in the console
    <script src="js/location.js?libraries=places"></script>-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVPuauj0tQuhm28vMic6xjtcvn11CpDNI&libraries=places"></script>
    <script src="js/jquery.geocomplete.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
</head>
<body>
<!-- HAMBURGER -->
<div class="navbar navbar-inverse navbar-fixed-top hamburger">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul ng-if="userSignInType == 'employer'">

            <li><a href="#/company-profile" data-toggle="collapse" data-target=".navbar-collapse">
                <img class='profilePictureHam' profileimg src="" ></a></li>

            <li><a href="#/company-profile" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-user" aria-hidden="true"></i>
                Company Profile</a></li>
            <li><a href="#/myjobs" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-file" aria-hidden="true"></i>
                My jobs</a></li>
            <li><a href="#/archive" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-trash" aria-hidden="true"></i>
                Deleted</a></li>
            <li><a href="#/hired" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-users" aria-hidden="true"></i>
                Hired</a></li>
            <li><a href="#/new-job" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-user" aria-hidden="true"></i>
                Add new Job</a></li>

            <li><a href='' data-toggle="collapse" data-target=".navbar-collapse" onclick=logout('logout')>
                <i class="fa fa-sign-out"></i>
                Log Out</a></li>
            <li><a href='' data-toggle="collapse" data-target=".navbar-collapse" onclick=logout('signout')>
                <i class="fa fa-sign-out"></i>
                Sign Out</a></li>
        </ul>
        <!-- Job Seeker NAV -->
        <ul class="mobileMenu" ng-if="userSignInType == 'jobSeeker'">
            <li><a href="#/profile" data-toggle="collapse" data-target=".navbar-collapse">
                <img class='profilePictureHam' profileimg src="" ></a></li>
            <li>
                <a href="#/profile" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Profile</a>
            </li>
            <li>
                <a href="#/search-jobs" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Search Jobs</a>
            </li>
            <li>
                <a href="#/yourjobs" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-file" aria-hidden="true"></i>
                    My Jobs</a>
            </li>
            <li>
                <a href="#/favorites" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    Favorite Jobs</a>
            </li>
            <li>
                <a href="#/deleted" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    Deleted Jobs</a>
            </li>

            <li>
                <a href='' onclick=logout('logout') data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-sign-out"></i>
                    Log Out</a>
            </li>
            <li>
                <a href='' onclick=logout('signout') data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    Sign Out</a></li>
        </ul>
        <ul ng-if="userSignInType == 'usersLogin'">
            <li><a href='' data-toggle="collapse" data-target=".navbar-collapse" onclick=logout('logout')>
                <i class="fa fa-sign-out"></i>
                Log Out</a></li>
            <li><a href='' data-toggle="collapse" data-target=".navbar-collapse" onclick=logout('signout')>
                <i class="fa fa-sign-out"></i>
                Sign Out</a></li>
        </ul>
    </div>
</div>
</div>
<!-- HAMBURGER END HERE -->

<div class="navBar">
    <div>
        <a ng-href="#/login" id="logo" ng-click="checkHamburger()"><img src="images/logo.png"></a>
    </div>

    <img id='profilePicture' profileimg src="" data-html="true" data-container="body" data-toggle="popover"
         data-placement="bottom"
         data-content="{{content}}">
    <img class="userLogo" ng-if="userSignInType == 'employer'" src="images/emp.png">
    <img class="userLogo" ng-if="userSignInType == 'jobSeeker'" src="images/jobsee.png">

    <!-- Img -->
    <div class="navBarImg hidden">
        <nav>
            <!-- Employer NAV -->
            <ul ng-if="userSignInType == 'employer'" ng-init="tab = 0">
                <li ng-class="{active:tab == 0, selected:tab == 0}"><a ng-click="tab = 0" href="#/myjobs"> <i
                        class="fa fa-suitcase" aria-hidden="true"></i>MY JOBS</a>
                </li>
                <li ng-class="{active:tab == 1, selected:tab == 1}"><a ng-click="tab = 1" href="#/archive"><i
                        class="fa fa-trash" aria-hidden="true"></i>DELETED</a>
                </li>
                <li ng-class="{active:tab == 3, selected:tab == 3}"><a ng-click="tab = 3" href="#/hired"><i
                        class="fa fa-users" aria-hidden="true"></i>Hired</a>
                </li>
                <li ng-class="{active:tab == 2, selected:tab == 2}"><a ng-click="tab = 2" href="#/new-job"><i
                        class="fa fa-plus" aria-hidden="true"></i>Add new Job</a>
                </li>
            </ul>
            <!-- Job Seeker NAV -->
            <ul ng-if="userSignInType == 'jobSeeker'" ng-init="tab = 0">
                <li ng-class="{active:tab == 0, selected:tab == 0}"><a href="#/search-jobs" ng-click="tab = 0"> <i
                        class="fa fa-search" aria-hidden="true"></i>FIND JOBS</a></li>
                <li ng-class="{active:tab == 1, selected:tab == 1}"><a href="#/yourjobs" ng-click="tab = 1"><i
                        class="fa fa-suitcase" aria-hidden="true"></i>MY JOBS</a>
                </li>
                <li ng-class="{active:tab == 2, selected:tab == 2}"><a href="#/favorites" ng-click="tab = 2"><i
                        class="fa fa-heart-o" aria-hidden="true"></i>FAVORITE
                </a></li>
                <li ng-class="{active:tab == 3, selected:tab == 3}"><a href="#/deleted" ng-click="tab = 3"> <i
                        class="fa fa-trash" aria-hidden="true"></i>DELETED
                </a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="wrapper">
    <div ng-view>
        <check-google-log-in/>
    </div>
</div>
<script src="js/lib/angular/angular.min.js"></script>
<script src="js/lib/angular/angular-route.min.js"></script>
<script src='js/lib/angular/ng-infinite-scroll.min.js'></script>
<script src='js/lib/angular/angular-dragdrop-1.0.2.js'></script>
<script src="js/site.js"></script>

<script src="js/controllers/usersLogin.js"></script>
<script src="js/controllers/directives.js"></script>
<script src="js/controllers/googleSignIn.js"></script>

<script src="js/controllers/jobSeeker/searchJobs.js"></script>
<script src="js/controllers/jobSeeker/myJobs.js"></script>
<script src="js/controllers/jobSeeker/profile.js"></script>
<script src="js/controllers/jobSeeker/match.js"></script>

<script src="js/controllers/employer/myJobs.js"></script>
<script src="js/controllers/employer/company_profile.js"></script>
<script src="js/controllers/employer/candidates.js"></script>
<script src="js/controllers/employer/resume.js"></script>
<script src="js/controllers/employer/job.js"></script>
<script src="js/controllers/employer/hired.js"></script>

<link rel="stylesheet" type="text/css" media="all" href="css/pages/media.css"/>
</body>
</html>
